@typeparam T


@if (Items is null)
{
    if (Loading is null)
    {
        <div class="align-items-center">
            <img src="https://miro.medium.com/v2/resize:fit:1400/1*CsJ05WEGfunYMLGfsT2sXA.gif" />
        </div>
    }
    else
    {
        @Loading
    }
}
else if (Items.Count==0)
{
    if(NotRecordFound is null)
    {
        <div class="align-items-center">
            <p>No hay registro para mostrar</p>
        </div>
    }
    else
    {
        @NotRecordFound;
    }

}
else
{
    @Body
}


@code {
    [Parameter]
    public RenderFragment? Loading { get; set; }

    [Parameter]
    public RenderFragment? NotRecordFound { get; set; }

    [Parameter]
    [EditorRequired]
    public RenderFragment Body { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public List<T> Items { get; set; } = null!;

}
